html {
    margin: 0;
    padding: 0;
    font-size: 18px;
}

body {
    background: #000;
    color: darkorange;
    font-family: Tahoma, Geneva, Sans-Serif;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

.lightbox {
    position: relative;
    background: red;
    height: 80vh;
}

.lightbox__cover {
    background: #000;
    height: 100%;
    width: 100%;
    opacity: .6;
}

.photo {
    border-radius: .25rem;
    position: absolute;
    height: 20rem;
    width: 20rem;
    z-index: 10;
}

.photo__image {
    width: 20rem;
}

.photo__title {
    background: #FFF;
    width: 100%;
}

.photo--standard {
    background-color: #EEE;
    border: .1rem solid #EEE;
}

.photo--centered {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.filmstrip {
    background: #000;
    display: flex;
    flex-wrap: wrap;
    height: 20vh;
}

.filmstrip__thumb {
    background: darkorange;
    border-radius: .25rem;
    margin: .3rem;
    width: 10rem;
    z-index: 10;
}

.filmstrip--order-one {
    order: 1;
}