html {
    margin: 0 0 0 0;
    padding: 0;
    font-size: 18px;
}

body {
    background: #1E1E1E;
    color: #EC7600;
    font-family: Tahoma, Geneva, Sans-Serif;
    margin: 0;
    padding: 0;
    user-select: none;
}

ul {
    list-style: none;
}

.lightbox {
    margin: 3rem 0 0 0;
    align-items: center;
    display: flex;
    justify-content: space-between;
    position: relative;
    height: 50vh;
}

.lightbox__cover {
    background: #000;
    height: 100%;
    width: 100%;
    opacity: .6;
}

.photo {
    border-radius: 5%;
    display: flex;
    width: 100%;

}

.photo__image {
    align-items: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center, center;
    border-radius: .50rem;
    display: flex;
    justify-content: space-around;
    min-width: 300px;
    height: 50vh;
    width: 100%;
}

.photo__title {
    align-items: center;
    border-radius: .25rem;
    display: flex;
    color: #CCC;
    height: 2rem;
    justify-content: space-around;
    text-align: center;
}

.info {
    align-items: center;
    display: flex;
    text-align: center;
    font-size: 1rem;
    font-weight: 100;
    justify-content: space-around;
    margin: 0 auto;
    width: 50%;
}

.info__bar{

}

#filmstrip {
    align-items: center;
    background: #1E1E1E;
    display: flex;
    /*flex-wrap: nowrap;*/
    height: 10rem;
    justify-content: space-between;
    overflow-x: scroll;
}

.filmstrip__thumb {
    background: #EC7600;
    border-radius: .25rem;
    margin: .3rem;
    height: 8rem;
}

#btn--prev {
}

#btn--next {
}