html {
    margin: 0;
    padding: 0;
    font-size: 18px;
}

body {
    background: #1E1E1E;
    color: darkorange;
    font-family: Tahoma, Geneva, Sans-Serif;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

.lightbox {
    align-items: center;
    display: flex;
    justify-content: space-between;
    position: relative;
    height: 70vh;
}

.lightbox__cover {
    background: #000;
    height: 100%;
    width: 100%;
    opacity: .6;
}

.photo {
    display:flex;
    width: 65%;
    order: 2;
}

.photo__image {
    border-radius: .50rem;
    display: flex;
    justify-content: space-around;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center, center;
    width: 100%;
}

.photo__title {
    align-items: center;
    background: #4D4E4E;
    border-radius: .25rem;
    display: flex;
    color: #CCC;
    height: 5vh;
    justify-content: space-around;
    margin: 0 auto;
    text-align: center;
    max-width: 65%;
}

.photo--centered {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

#filmstrip {
    align-items: center;
    background: #1E1E1E;
    display: flex;
    flex-wrap: nowrap;
    height: 30vh;
    justify-content: space-between;
    overflow-x: scroll;
}

.filmstrip__thumb {
    background: darkorange;
    border-radius: .25rem;
    margin: .3rem;
    height: 8rem;
}

#btn--prev {
    order: 1;
    margin: 3rem;
}

#btn--next {
    order: 3;
    margin: 3rem;
}